/* 1) Para que la pagina use la fuente "Lato"*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

@-webkit-keyframes fade-in { 0% {opacity: 0;}50%{opacity:0;}100%{opacity:1;}}

body
{
  font-family: "Lato";
  font-weight: 300;
  font-size: 14px;
  color: #333;
  background: #fff;
  line-height: 1.42857143;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  /*margin-top: 70px;*/
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 2s;
}

h1,h2,h3,h4,h5,h6 {font-family: "Lato";}

/* 2) Lo que maneja el texto de arriba {"Titulo", "SubtitulosS"}*/
.uppercase {text-transform: uppercase;}

.separado
{
  letter-spacing: 2px;
  font-weight: bold;
}

.centrado {text-align: center;}

.palCentro
{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#textoB1 {
  color:#000000;
  display: block;
  margin-left: -14px;
}
#textoB2 {
  color:#909090;
  display: block;
  margin-left: -10px;
}
#textoB3 {
  color:#909090;
  display: block;
  margin-left: -25px;
}
/* 3) Aqui va lo relacionado con la parte de arriba donde van las bolas*/
.cajaBolas
{
  margin-top: 30px;
  margin-bottom: 30px;
}

.bolitas
{
  border-radius: 50%;
  width: 33px;
  height: 33px;
  border:2px solid transparent;
  border-color: black;
  display: inline-block;
  padding-top: 5px;
  font-size: 13px;
  font-weight: 700;
  color: white;
  position:relative;
  text-align: center;
}

.bolitas.primera:before,.bolitas.segunda:before
{
  content:"";
  width:101px;
  height:2px;
  background-color:#000000;
  top:-webkit-calc(50% - 3px);
  top:-moz-calc(50% - 3px);
  top:calc(50% - 3px);
  left:106%;
  position:absolute;
}

#chulo1{display: none;}
#chulo2{display: none;}
#chulo3{display: none;}

.movidas {margin-right:98px;}

.activa {background: #53B35A;}

.apagada {background: white;}

.textoBolas
{
  font-size:15px;
  font-weight:500;
  margin-top: 10px;
}

/* 4) Para el cuadrado*/
.cuadrado
{
  background-color: #F8F8F8;
  border-style: solid;
  border-color: #cfcfcf;
  border-width: 1px;
  border-radius: 3px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 35px;
}

/*Esto es para que al comienzo solo se vea la parte 1 del formulario*/
#Parte1   {
  display: block;
  margin-left: 0px;
  margin-right: 0px;
}
#Parte2   {display: none;}
#Parte3   {display: none;}
#waitting {display: none;}
#TipoEnvioBarco {display: none;}
#proyectoEspecial {display: none;}
#textoEspecial {width: 100%;}

/* 5) Para las entradas de texto*/
.dato
{
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}

.escondido
{
  color: #999999;
  font-size: 14px;
  font-weight: 500;
}

.entrada {
  width: 100%;
  margin-top: 7px;
  border-radius: 2px;
  margin-bottom: 7px;
}



.dropdowns {width: 100%;}

.aviso {color: orange; display: none;}
/* 6) Para el boton*/
.elboton
{
  background-color: #071323;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease 0s;
  width: 100%;
  border-color: #071323;
}

.elboton:hover {background-color: #579f43;}

/* EXTRA) Este esta en todos los input*/
.agrandado {
  font-size: 14px;
  color: #222222;
}

.orientadoDerecha {padding-left: 15px;}
/*7) Esto lo voy a usar en el cuadrado del panel 2 */
.containerEnLinea {display: inline-flex; width: 100%;}

.cuadrado#part2_cuadrado1 {padding-top: 16px;padding-bottom: 6px;}
#campoPeso {width: 40%;}
#espacio1_peso {width: 5%;}
#dropdownPeso {width: 14%;}
#espacio2_peso {width: 41%;}

.cuadrado#envioAereo {padding-top: 26px; padding-bottom: 22px; position: relative; bottom: 2px; display: none;}
.cuadrado#proyectoEspecial {padding-top: 26px; padding-bottom: 22px; position: relative; bottom: 2px; display: none;}
.cuadrado.maritimo {padding-top: 26px; padding-bottom: 22px; position: relative; bottom: 2px; display: none;}
#textosPreguntaPeso {display :none;}

.division6prc {width: 8%;}
.division47prc {width: 47%;}

.cuadrado#part2_cuadrado3
{
  padding-top: 10px;
  padding-bottom: 16px;
  position: relative;
  bottom: 4px;
}

.cuadrado#part2_cuadrado4
{
  padding-top: 10px;
  padding-bottom: 16px;
  position: relative;
  bottom: 6px;
}

/*8) Esto es todo lo del panel 3*/
.distanciado {margin-bottom: 10px;}
.textoGris {color: #999999;}
.conNegrilla {font-weight: 900;}
.cuadrado#part3_cuadrado1 {padding-top: 16px;padding-bottom: 22px;}
.cuadrado#part3_cuadrado2 {padding-top: 16px;padding-bottom: 22px;position: relative; bottom: 2px;}
.cuadrado#part3_cuadrado3 {padding-top: 16px;padding-bottom: 22px;position: relative; bottom: 4px;}
.cuadrado#part3_cuadrado4 {padding-top: 16px;padding-bottom: 22px;position: relative; bottom: 6px;}
.cuadrado#part3_cuadradoVerde {padding-top: 16px;padding-bottom: 22px;position: relative; bottom: 8px; background-color: #52B259}
.textoBlanco {color: white;}
.cuadrado#part3_cuadradoBoton {padding-top: 16px;padding-bottom: 22px;position: relative; bottom: 10px; text-align: center;}

/*9) Esto es el estilo que va en las cajas de la derecha*/
.cuadradoBlanco
{
  background-color: #FFFFFF;
  border-style: solid;
  border-color: #cfcfcf;
  border-width: 1px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.cuadradoBlanco#part3_cuadrado_lado1 {}
.derecha { direction: rtl;}

img#icono_destino {max-width: 100%; max-height: 100%;}

#icono_datos {display: none;}

select, .cosasSerias{
  border-radius: 2px;
  -webkit-appearance: none;
  outline: none;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}



.simplebox {
  outline: none;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.icono-select{

  position: relative;
  top: 141px;
  left: 496px;
  position: absolute;
  top: 139px;
  color: #DEDEDE;
  font-size: 19px;
}

.bola-container{
  display: inline-block;
  text-align: left;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .icono-select{
    left: 393px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .icono-select{
    left: 281px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .icono-select{
    left: 373px;
  }

  .cuadrado{
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 17px;
    padding-top: 10px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 380px) {
  .icono-select{
    left: 268px;
  }
}

#medidas{display: inline-flex;}