<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
<title>Demystifying Email Design</title>
<meta name='viewport' content='width=device-width, initial-scale=1.0'/>
</head>
<body style='margin: 0; padding: 0;'>
    <table border='0' cellpadding='0' cellspacing='0' width='100%'>    
        <tr>
            <td style='padding: 10px 0 30px 0;'>
                <table align='center' border='1' cellpadding='0' cellspacing='0' width='600' style='border: 5px solid #000000; border-collapse: collapse;'>
                    <tr>
                        <td align='center' bgcolor='#223462' style='padding: 40px 0 30px 0; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;'>
                            <img src='{{STATIC_URL}}img/Logo.png' alt='Creating Email Magic' style='display: block;' />
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor='#ffffff' style='padding: 40px 30px 40px 30px;'>
                            <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                                <tr>
                                    <td style='color: #153643; font-family: Arial, sans-serif; font-size: 24px;'>
                                        <center><b>Tu cotización</b></center>
                                    </td>
                                </tr>
                                <tr>
                                    <td style='padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;'>
                                        A continuación te presentamos los datos que nos entregaste, con los que preparamos tu aprximación presupuestal.
                                    </td>
                                </tr>
                                <tr>
                                    <td style='color: #153643; font-family: Arial, sans-serif; font-size: 18px;'>
                                        <b>Tus datos:</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                                            <tr>
                                                <td width='260' valign='top'>
                                                    <table border='2' cellpadding='0' cellspacing='0' width='100%'>
                                                        <tr>
                                                            <td>Nombre de la empresa</td> 
                                                            <td>{{infoUser.nombre}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>País</td> 
                                                            <td>{{infoUser.paisDatos}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Ciudad</td> 
                                                            <td>{{infoUser.ciudad_datos}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Correo electrónico</td> 
                                                            <td>{{infoUser.correo}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Teléfono</td> 
                                                            <td>{{infoUser.telefono}}</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style='color: #153643; font-family: Arial, sans-serif; font-size: 18px;'>
                                        <br/><b>Tu carga</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                                            <tr>
                                                <td width='260' valign='top'>
                                                    <table border='2' cellpadding='0' cellspacing='0' width='100%'>
                                                        <tr>
                                                            <td>Tipo de Envio</td> 
                                                            <td>{% if infoUser.tipoEnvio == "Via Maritima" %}
                                                                    Envío Maritimo
                                                                    {% if infoUser.tipoEnvio2 == "FCL" %}
                                                                         (FCL)
                                                                    {% elif infoUser.tipoEnvio2 == "LCL" %}
                                                                         (LCL)
                                                                    {% else %}
                                                                        Nope
                                                                    {% endif %}
                                                                {% elif infoUser.tipoEnvio == "Via Aerea" %}
                                                                    Envío Aereo
                                                                {% elif infoUser.tipoEnvio == "Proyecto Especial" %}
                                                                    Proyecto Especial
                                                                {% else %}
                                                                    Nope
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Tipo de producto</td> 
                                                            <td>{{infoUser.tipoProducto}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>País de procedencia</td> 
                                                            <td>{{infoUser.paisProducto}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Valor de la mercancía</td> 
                                                            <td>{{infoUser.valorMercancia}} $ (USD)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Numero de productos diferentes</td> 
                                                            <td>{{infoUser.prdif}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>La carga es OTM</td> 
                                                            <td>{% if infoUser.otm == "true" %}
                                                                    Si
                                                                {% else %}
                                                                    No
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Desea comprar un seguro para su mercancía</td> 
                                                            <td>{% if infoUser.seguro == "true" %}
                                                                    Si
                                                                {% else %}
                                                                    No
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style='color: #153643; font-family: Arial, sans-serif; font-size: 14px;'>
                                        <br/><b>    Tus Requerimientos</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                                            <tr>
                                                <td width='260' valign='top'>
                                                    <center>
                                                        <table border='2' cellpadding='0' cellspacing='0' width='100%'>
                                                            <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
                                                            {% if infoUser.tipoEnvio == "Via Maritima" %}
                                                                {% if infoUser.tipoEnvio2 == "FCL" %}
                                                                    {% for caja20 in infoUser.arregloFCL_20 %}
                                                                    <tr>
                                                                        <td>Container {{forloop.counter}} [20ft]:</td> 
                                                                        <td>{{caja20}}</td>
                                                                    </tr>
                                                                    {% endfor %}
                                                                    </table>
                                                                    <br/>
                                                                    <table border='2' cellpadding='0' cellspacing='0' width='100%'>
                                                                    {% for caja40 in infoUser.arregloFCL_40 %}
                                                                    <tr>
                                                                        <td>Container {{forloop.counter}} [40ft]:</td> 
                                                                        <td>{{caja40}}</td>
                                                                    </tr>
                                                                    {% endfor %}
                                                                {% elif infoUser.tipoEnvio2 == "LCL" %}
                                                                    <tr>
                                                                        <td>Ancho [m]</td>
                                                                        <td>{{infoUser.anchoLCL}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Alto [m]</td>
                                                                        <td>{{infoUser.altoLCL}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Largo [m]</td>
                                                                        <td>{{infoUser.largoLCL}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Peso [Ton]</td>
                                                                        <td>{{infoUser.pesoLCL}}</td>
                                                                    </tr>
                                                                {% else %}
                                                                {% endif %}
                                                            {% elif infoUser.tipoEnvio == "Via Aerea" %}
                                                                <tr>
                                                                    <td>Paquete #</td>
                                                                    <td>Ancho [m]</td>
                                                                    <td>Alto [m]</td>
                                                                    <td>Largo [m]</td>
                                                                    <td>Peso [Ton]</td>
                                                                </tr>
                                                                {% for caja in infoUser.arregloAereo %}
                                                                    <tr>
                                                                        <td>{{forloop.counter}}</td>
                                                                        <td>{{caja.ancho}}</td>
                                                                        <td>{{caja.alto}}</td>
                                                                        <td>{{caja.profundo}}</td>
                                                                        <td>{{caja.peso}}</td>
                                                                    </tr>
                                                                {% endfor %}
                                                            {% elif infoUser.tipoEnvio == "Proyecto Especial" %}
                                                                <tr>
                                                                    <td>{{infoUser.textoEspecial}}</td>
                                                                </tr>
                                                            {% else %}
                                                            {% endif %}
                                                            <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
                                                        </table>
                                                    </center>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                {% if infoUser.tipoEnvio == "Proyecto Especial" %}
                                    Proyecto Especial
                                {% else %}
                                <tr>
                                    <td style='color: #153643; font-family: Arial, sans-serif; font-size: 18px;'>
                                        <br/><b>Tu Cotización</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                                            <tr>
                                                <td width='260' valign='top'>
                                                    <center>
                                                        <table border='2' cellpadding='0' cellspacing='0' width='100%'>
                                                            <tr>
                                                                <td>Container</td> 
                                                                <td>4545</td>
                                                                <td>Container</td> 
                                                                <td>4545</td>
                                                                <td>Container</td> 
                                                                <td>4545</td>
                                                                <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
                                                                {% if infoUser.tipoEnvio == "Via Maritima" %}
                                                                    {% if infoUser.tipoEnvio2 == "FCL" %}
                                                                        FCL
                                                                    {% elif infoUser.tipoEnvio2 == "LCL" %}
                                                                        LCL
                                                                    {% else %}
                                                                    {% endif %}
                                                                {% elif infoUser.tipoEnvio == "Via Aerea" %}
                                                                    Aerea
                                                                {% elif infoUser.tipoEnvio == "Proyecto Especial" %}
                                                                    Proyecto Especial
                                                                {% else %}
                                                                {% endif %}
                                                                <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
                                                                <td>Container</td> 
                                                                <td>4545</td>
                                                            </tr>
                                                        </table>
                                                    </center>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style='color: #153643; font-family: Arial, sans-serif; font-size: 14px;'>
                                        <br/><b>    Tu Cotización</b>
                                    </td>
                                </tr>
                                {% endif %}
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor='#223462' style='padding: 30px 30px 30px 30px;'>
                            <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                                <tr>
                                    <td style='color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;' width='75%'>
                                        Cra. 106 No.15a-25 Manzana 24 Bodega 143<br/>
                                        Zona Franca Bogotá / Cra 69a No. 65-81<br/>
                                        Phone: PBX(571)492 6666 * Fax:404 6847 - 439 6539
                                    </td>
                                    <td align='right' width='25%'>
                                        <table border='0' cellpadding='0' cellspacing='0'>
                                            <tr>
                                                <td style='font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;'>
                                                    <a href='http://melyakinternational.com/' style='color: #ffffff;'>
                                                        <img src='{{STATIC_URL}}img/logo.png' alt='Twitter' width='70' height='70' style='display: block;' border='0' />
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
